/Easy/4. Digital Hospital Manager/solutions/Prachi-05_Prachi/JavaApplication4/nbproject/private/
/Easy/4. Digital Hospital Manager/solutions/Prachi-05_Prachi/JavaApplication4/build/
/Easy/4. Digital Hospital Manager/solutions/Prachi-05_Prachi/DigitalHospitalManager/nbproject/private/
/Easy/4. Digital Hospital Manager/solutions/Prachi-05_Prachi/DigitalHospitalManager/build/