{% extends "base.html" %} {% block content %}

<div class="container">
  <h1>Created Bill</h1>
  <hr />
  <div class="d-inline">
    <div class="alert alert-success" role="alert">
      Bill successfully generated
    </div>
    <div class="text-right">
      <button
        type="button"
        class="btn btn-success btn-lg"
        onclick="window.print()"
      >
        Print Bill
      </button>
    </div>
  </div>

  <div class="container">
    <ul>
      <li>Date: {{ order.billing_date_time|date:"D, d F, Y, h:i:s A e" }}</li>
      <li>Order ID: {{ order.pk }}</li>
      <li>
        <!-- prettier-ignore -->
        Order Status: {{ order.get_order_status_display }} as of
        {{ order.order_modified|date:"D, d F, Y, h:i:s A e" }}
      </li>
    </ul>
  </div>
  <div class="container">
    <ul>
      <li>Shop Name: {{ shopName }}</li>
      <li>Shop Address: {{ shopAddress }}</li>
      <li>Shop Contact Number: {{ shopContactNumber }}</li>
    </ul>
  </div>
  <div class="container">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">S.No.</th>
          <th scope="col">Item</th>
          <th scope="col">Price Per Item</th>
          <th scope="col">Savings Per Item</th>
          <th scope="col">Quantity</th>
        </tr>
      </thead>
      <tbody>
        {% for item, quantity in order.get_billed_items %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ item.name }}</td>
          {% if item.discount_price != 0 %}
          <td>
            &#8377; <strike>{{ item.original_price }}</strike>
            {{item.actual_price }}
          </td>
          <td>&#8377; {{ item.savings }}</td>
          {% else %}
          <td>&#8377; {{ item.actual_price }}</td>
          <td>N/A</td>
          {% endif %}
          <td>{{ quantity }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="container">
    <ul>
      <li>Customer Name: {{ order.customer_name }}</li>
      <li>Customer Contact Number: {{ order.customer_mobile_no }}</li>
      <li>Tax Included: &#8377; {{ order.total_tax }}</li>
      {% if order.delivery_option == 'HMD' %}
      <li>Delivery Charges: &#8377; {{ order.total_shipping }}</li>
      {% endif %}
      <li>Total Price: &#8377; {{ order.total_item_price }}</li>
      <li>Total Savings: &#8377; {{ order.total_savings }}</li>
      <li>Amount Payable: &#8377; {{ order.amount_payable }}</li>
      <li>Payment Method: {{ order.get_payment_method_display }}</li>
      {% if order.delivery_option == 'HMD' %}
      <li>Shipping Address: {{ order.shipping_address }}</li>
      {% endif %}
    </ul>
  </div>

  <div class="container">
    <button
      type="submit"
      class="btn btn-dark btn-sm"
      onclick="window.location.href='/shopping_list'"
    >
      Start Shopping
    </button>
  </div>
</div>

{% endblock %}
