<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Digital Hospital Monitor</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('admin') }}">Digital Hospital Monitor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
           </ul>
          <form class="form-inline my-2 my-lg-0" method="POST" action="{{ url_for('hospital_stats') }}">
            <select class="custom-select" name="hospitalSearch" required>
            <option value="">Select Hospital Name</option>
            {% for name in data %}
            {% if name[1] >= 1 %}
              <option value="{{ name[0] }}">{{ name[0] }}</option>
            {% endif %}
            {% endfor %}
          </select>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Hospital Statistics</button>
          </form>
        </div>
      </nav>
      {% if visibility %}
    <div class="container">
        <p style="text-align: center;" class="h4">Hospital Statistics</p>
    </div>
          <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Patient Admit Count</th>
                  <th scope="col">Patient Discharge Count</th>
                  <th scope="col">Total Number of Patients in Hospital</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>{{ admissions }}</th>
                  <td>{{ discharge }}</td>
                  <td>{{ total }}</td>
                </tr>
              </tbody>
            </table>
    {% endif %}
</body>
</html>